# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# IDE and Text Editor Specific
.idea/
.vscode/

# Cmake folders
cmake-build*/
build/

# Hunter files
hunter-archive.tar.gz
.cmake_build/

# Clang files
compile_commands.json
